<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.mathis.tourhanoipro">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeColored3">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".CongratsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeTranslucentColored3" />
        <activity
            android:name=".TutoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeTranslucentColored3" />
        <activity
            android:name=".MorphViewShowcaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeColored3.Fullscreen" />
        <activity-alias
            android:name=".LauncherAliasNine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t9"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasEight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t8"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasSeven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t7"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasSix"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t6"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasFive"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t5"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasFour"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t4"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasThree"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t3"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherAliasTwo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t2"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasOne"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t1"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherAliasZero"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_t0"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>